
@media only screen and (min-device-width: 360px) {
 #caddr .am-list-item .am-input-label.am-input-label-5{
    letter-spacing: 30px !important;
  }
  
  #basic .am-number-keyboard-wrapper{
    height : 360px !important;
  }
  #basic .am-number-keyboard-wrapper table tr .am-number-keyboard-item{
    font-size: 60px !important;
  }
  #basic .am-list-item .am-input-control .fake-input-container{
    height: 84px !important;
    line-height: 84px !important;
  }
  #basic .am-list-item .am-input-control .fake-input-container .fake-input{
    font-size: 60px !important;
  }
  #basic .am-list-item.am-input-item{
    height : 104px !important;
    padding-left : 35px !important;
  }
  #basic .am-list-item .am-input-control input{
    font-size: 60px !important;
    text-align: left !important;
  }
  #basic .am-list-item .am-input-control{
    font-size: 60px !important;
  }

  #basic .am-list-item .am-input-label{
    font-size: 60px !important;
  }

  #basic .am-list-item .am-list-line .am-list-extra{
    font-size: 40px !important;
  }

  #basic .am-list-item .am-list-line .am-list-content{
    font-size: 60px !important;
  }
  #basic .am-list-item .am-list-line .am-list-brief{
    font-size: 60px !important;
  }

  #basic .am-list-item .am-input-label.am-input-label-5{
    width: 36% !important;
  }







  #basic .am-button{
    padding : 0 20px;
    font-size: 40px !important;
    height : 100px !important;
    line-height :100px!important;
    border : 1px solid #ccc!important;
  }


  #basic .am-list-header{
    font-size: 60px !important;
  }

}

// #basic .am-picker-col-item{
//       font-size: 40px !important;
//   }
  #basic .am-picker-col-item-selected{
      font-size: 40px !important;
  }
@media only screen and (min-device-width: 412px) {
  #caddr .am-list-item .am-input-label.am-input-label-5{
    letter-spacing: 40px !important;
  }
  #basic .am-picker-popup-item{
      height:80px !important;
      font-size: 40px !important;
  }
  
  #basic .am-number-keyboard-wrapper{
    height : 500px !important;
  }
  #basic .am-number-keyboard-wrapper table tr .am-number-keyboard-item{
    font-size: 80px !important;
  }
  #basic .am-list-item .am-input-control .fake-input-container{
    height: 110px !important;
    line-height: 110px !important;
  }
  #basic .am-list-item .am-input-control .fake-input-container .fake-input{
    font-size: 80px !important;
  }
  #basic .am-list-item.am-input-item{
    height : 110px !important;
    padding-left : 55px !important;
  }
  
  #basic .am-list-item .am-input-control input{
    font-size: 80px !important;
    text-align: left !important;
  }

  #basic .am-list-item .am-input-control{
    font-size: 80px !important;
  }
  #basic .am-list-item .am-input-label{
    font-size: 80px !important;
  }

  #basic .am-list-item .am-list-line .am-list-extra{
    font-size: 80px !important;
  }

  #basic .am-list-item .am-list-line .am-list-content{
    font-size: 80px !important;
  }
  #basic .am-list-item .am-list-line .am-list-brief{
    font-size: 80px !important;
  }
  #basic .am-list-item .am-input-label.am-input-label-5{
    width: 36% !important;
  }

  #basic .am-picker-popup-item{
    font-size: 80px !important;
  }

  #basic .am-picker-col-item{
    font-size: 80px !important;
  }

  #basic .am-button{
    padding : 0 20px;
    font-size: 80px !important;
    height : 160px !important;
    line-height : 160px!important;
  }

 

  #basic .am-list-header{
    font-size: 80px !important;
  }

}

.am-list-body:after{
  border:none !important;
}
.am-list-body{
  border : none !important;
}
// .am-list-item.am-input-item:after{
//   border : 1px solid #000 !important;
// }
.am-list-body .am-list-line{
    border-bottom : 1px solid #000 !important;
}
html:not([data-scale]) .am-list-body::before{
  transform : scaleY(0) !important;
}
html:not([data-scale]) .am-list-body::after{
  transform : scaleY(0) !important;
}
html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line::after{
  transform : scaleY(0) !important
}

.am-list-item .am-input-extra{
  max-height: initial !important;
}
#caddr .am-list-item.am-input-item{
  padding-left: 15px !important;
}
