<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style='margin:0'>
       <div style='height:80px;width:100%;text-align:center;color:white;background: rgb(16, 142, 233);display:flex;justify-content:center;align-items:center;color:white;font-weight:bold;font-size:2rem'>入职易</div>
       <div style='display:flex;justify-content:center;align-items:center;height:400px;width:100%;margin-top:40px'>
            <h3>激活邮件已发送至您的注册邮箱，请查收！</h3>
       </div>
       <div style='position:relative;bottom:0;text-align:center;height:20px;width:100%;font-size:18px;color:rgba(0, 0, 0, 0.65);background:#ececec'>M & G PRESENTS ©2017  (づ￣ 3￣)づ</div>
    </body>
</html>