<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../lib/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style="background:rgb(246,246,246)">
        <h1 style='text-align:center'>{{ applicant.name }}的个人简历</h1>
        <div class='container-fluid' style="margin:0 atuo;background:rgb(255,255,255);color:black;text-align:center;width:900px"> 
            <h3>基本信息</h3>
            <div style='border:1px solid #ddd;margin:20px;border-radius:15px'>
                <form class="form-horizontal">
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">姓名</label>
                        <div class="col-md-8">
                            <span>{{ applicant.name }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">性别</label>
                        <div class="col-md-8">
                            <span>{{ applicant.gender }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">民族</label>
                        <div class="col-md-8">
                            <span>{{ applicant.folk }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">出生日期</label>
                        <div class="col-md-8">
                            <span>{{ applicant.birthDate }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">健康状况</label>
                        <div class="col-md-8">
                            <span>{{ applicant.healthState }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">身份证号</label>
                        <div class="col-md-8">
                            <span>{{ applicant.idCardNumber }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">家庭住址</label>
                        <div class="col-md-8">
                            <span>{{ applicant.homeAddress }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">现住址</label>
                        <div class="col-md-8">
                            <span>{{ applicant.currentAddress }} | 无</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">手机号码</label>
                        <div class="col-md-8">
                            <span>{{ applicant.mobile }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">邮箱</label>
                        <div class="col-md-8">
                            <span>{{ applicant.email }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">座机号码</label>
                        <div class="col-md-8">
                            <span>{{ applicant.tele }}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">QQ</label>
                        <div class="col-md-8">
                            <span>{{ applicant.qqNumber }}</span>
                        </div>
                    </div>
                </form>
            </div>

            <h3>家庭信息</h3>
            {% for family in applicant.familyMembers %}
            <div style='border:1px solid #ddd;margin:20px;border-radius:15px'>
                <form class="form-horizontal">
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">姓名</label>
                        <div class="col-md-8">
                            <span>{{family.name}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">关系</label>
                        <div class="col-md-8">
                            <span>{{family.relationship}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">联系电话</label>
                        <div class="col-md-8">
                            <span>{{family.phoneNumber}}</span>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}

            <h3>工作经历</h3>
            {% for work in applicant.workExperiences %}
            <div style='border:1px solid #ddd;margin:20px;border-radius:15px'>
                <form class="form-horizontal">
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">公司</label>
                        <div class="col-md-8">
                            <span>{{work.companyName}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">职位</label>
                        <div class="col-md-8">
                            <span>{{work.title}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">薪资范围</label>
                        <div class="col-md-8">
                            <span>{{work.salaryRange}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">起止时间</label>
                        <div class="col-md-8">
                            <span>{{work.range}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">联系人</label>
                        <div class="col-md-8">
                            <span>{{work.contactPersonName}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">联系电话</label>
                        <div class="col-md-8">
                            <span>{{work.phoneNumber}}</span>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}

            <h3>教育经历</h3>
            {% for edu in applicant.educationHistories %}
            <div style='border:1px solid #ddd;margin:20px;border-radius:15px'>
                <form class="form-horizontal">
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">学校</label>
                        <div class="col-md-8">
                            <span>{{edu.colledgeName}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">专业</label>
                        <div class="col-md-8">
                            <span>{{edu.major}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">是否毕业</label>
                        <div class="col-md-8">
                            <span>{{edu.isGraduated}}</span>
                        </div>
                    </div>
                    <div class="form-group form-group-md">
                        <label class="col-md-4 control-label" for="formGroupInputLarge">起止时间</label>
                        <div class="col-md-8">
                            <span>{{edu.range}}</span>
                        </div>
                    </div>
                   
                </form>
            </div>
            {% endfor %}
        </div>
    </body>
</html>