<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="入职易">
    <meta name="keywords" content="wps, security, document">
    <title>
         录入基本信息
    </title>
    <!-- Bootstrap core CSS 
    <link href="./css/framework7.material.colors.min.css" rel="stylesheet">
    <link href="./css/framework7.material.min.css" rel="stylesheet">-->
    <script src="../dist/mobile/antm-viewport.min.js">
    </script>
    <link href="../dist/mobile/index.css?893827" rel="stylesheet">
    <script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"></script>
</head>


<body>
    <div> 
        <span id='openId' hidden>{{openId}}</span>
    </div>
    <div id='basic' style="display:flex;align-items:center;justify-content:center;width:100%;height:100%">
        
    </div>

    
    
</body>

    </script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./lib/underscore-min.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="../dist/mobile/index.js?893827"></script>
    <script type="text/javascript">
        if(!window.Promise) {
            console.log('no promise')
            document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
        }
        $(_.once(function(){
            Lego('#basic').basicForm();
        }))
    </script>
</html>

