<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="入职易">
    <meta name="keywords" content="wps, security, document">
    <title>
         附近的职位
    </title>
    <!-- Bootstrap core CSS 
    <link href="./css/framework7.material.colors.min.css" rel="stylesheet">
    <link href="./css/framework7.material.min.css" rel="stylesheet">-->
    <script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
    <script src="../dist/mobile/antm-viewport.min.js">
    </script>
    <link href="../dist/mobile/index.css?6383737" rel="stylesheet">
    <script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"></script>
</head>


<body id='positionsPage'>
    <span id='openId' hidden>{{openId}}</span>
    <span id='isComplete' hidden>{{isComplete}}</span>
    <span id='signatureObj' hidden>{{signatureObj}}</span>
    <span id='developmentMode' hidden>{{developmentMode}}</span>
    <div id='location'>
        
    </div>
    <div id="shareit">
        <img class="curveArrow" src="../img/share-it.png">
        <a href="#" id="follow">
            <img id="share-text" src="../img/tips.png">
        </a>
    </div>

</body>

    </script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="./lib/underscore-min.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="../dist/mobile/index.js?6383737"></script>
    <script type="text/javascript">
        if(!window.Promise) {
            console.log('no promise')
            document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
        }
        $(_.once(function(){
            $("#shareit").on("click", function(){
                $("#shareit").hide();
            });
            var geolocation = new qq.maps.Geolocation("HAWBZ-D6RWD-K4Y4X-PQFW3-5L6WZ-LMFHQ", "location");
            //var location = JSON.stringify(position)
            var openId = $('#openId').text() ===''? undefined : $('#openId').text() ;
            var isComplete = $('#isComplete').text() === ''? undefined : $('#isComplete').text();
            var signatureObj = $('#signatureObj').text() === '' ? {} : JSON.parse($('#signatureObj').text());
            /*geolocation.getLocation(function (position) {
                Lego('#location').nearByPositions({ position: position, openId: openId, isComplete: isComplete, signatureObj: signatureObj, wx: wx });
            }, function () {
                Lego('#location').nearByPositions(false);
            });*/
            var developmentMode = $('#developmentMode').text() === 'yes' ? true : false;
            if(developmentMode) {
                var fakePosition = {
                    lat: '22.26666',
                    lng: '113.54342',
                    province: '广东省',
                    city: '珠海市',
                    addr: '广东省珠海市'
                };
                Lego('#location').nearByPositions({position : fakePosition, openId : openId, isComplete : isComplete, signatureObj: signatureObj, wx: wx});
            } else {
                geolocation.getLocation(function(position){
                    Lego('#location').nearByPositions({position : position, openId : openId, isComplete : isComplete, signatureObj: signatureObj, wx: wx});
                },function(){
                    Lego('#location').nearByPositions(false);
                });
            }

        }))
    </script>
</html>

