<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../lib/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style='margin:0'>
       <div style='height:80px;width:100%;text-align:center;color:white;background: rgb(16, 142, 233);display:flex;justify-content:center;align-items:center;color:white;font-weight:bold;font-size:3rem'>入职易</div>
       <div style='text-align:center;height:400px;width:100%;'>
            <h2>重置密码</h2>
            <div style='margin-top:30px'>
                <div class='form-inline row' style='margin-bottom:20px'><div class='col-md-offset-5 col-md-4' style='text-align:left'><label class='control-label col-md-3'>Email：</label><input type="email" class="form-control" id="r_mail" placeholder="请输入邮箱！"/><button class='btn default' id='getCode'>获取验证码</button></div></div>
                <div class='form-inline row' style='margin-bottom:20px'><div class='col-md-offset-5 col-md-4' style='text-align:left'><label class='control-label col-md-3'>验证码：</label><input class='form-control' type="text" id='code' placeholder="请输入验证码"/></div></div>
                <div class='form-inline row' style='margin-bottom:20px'><div class='col-md-offset-5 col-md-4' style='text-align:left'><label class='control-label col-md-3'>旧密码：</label><input class='form-control' type="text" id='oPwd' placeholder="请输入旧密码"/></div></div>
                <div class='form-inline row' style='margin-bottom:20px'><div class='col-md-offset-5 col-md-4' style='text-align:left'><label class='control-label col-md-3'>新密码：</label><input class='form-control' type="text" id='nPwd' placeholder="请输入新密码"></div></div>
                <div class='form-inline row' style='margin-bottom:20px'><div class='col-md-offset-5 col-md-4' style='text-align:left'><label class='control-label col-md-3'>重复新密码：</label><input class='form-control' type="text" id='r_nPwd' placeholder="请确认新密码"></div></div>
                <button class='btn btn-primary btn-lg' style='width:100px' id='resetSubmit'>提交</button>
            </div>
       </div>
       <div style='position:absolute;bottom:0;text-align:center;height:15px;width:100%;font-size:8px;color:rgba(0, 0, 0, 0.65);background:#ececec'>M & G PRESENTS ©2017  (づ￣ 3￣)づ</div>
    </body>
    <script src="./lib/underscore-min.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script type="text/javascript">
        $(_.once(function(){
            $("getCode").bind("click",function(){
                $.ajax({
                    url:''
                })
            });
            $("resetSubmit").bind("click",function(){
                 $.ajax({
                    url : '',
                    type : 'POST',
                    contentType :'application/json',
                    data: JSON.stringify({
                        email : $('#r_mail').val(),
                        code : $('#code').val(),
                        oldPwd : $('#oPwd').val(),
                        newPwd : $('#nPwd').val(), 
                    }),
                    dataType: 'json',
                    success: function(data){
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
            });
        }))
    </script>
</html>